body {
    color: white;
    background-color: #191e3d;
    font-family: 'Artegra Soft';
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 50px rgb(86 114 255); 
}

::-webkit-scrollbar-thumb:hover {
   -webkit-box-shadow: inset 0 0 50px rgb(85 113 255);
}

a {
    text-decoration: none;
}

.menu {
    height: 100vh;
    background-color: #151932;
    padding: 1rem 1rem;
    padding-top: 5vh;
    font-size: 19px;
    width: 6%;
}
.fas {
    font-size: 25px;
    padding-top: 2rem;
}

.menu span {
    width: 60%;
    margin-left: 38px;
    display: inline-block;
}

.menu .active {
    color:#fff;
}

.menu a {
    padding:1rem;
    color: #b9bbcc;
}

.menu a:hover {
    color:#fff;
}

.card-text {
    color:#8563f8;
}

.card {
    width: 13rem;
    outline: none;
    border: none;
    background-color: #151932;
    width: 100%;
}
/*  Button   */
button {
    background: white;
    border: none;
    background-color: #292d48;
    margin-left: -5px;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #292d48;
    border-color: #191e3d;
}

/*  Container   */

.container-xxl {
    max-width: 100%;
}
.container {
    max-width: 100%;
}
/* ТАБЛИЦА */

.table {
    border-radius: 30px;
    background: #151932;
    color: white;
    outline: 0;
    border: 0;
}

.table>:not(caption)>*>* {
    padding:18px 15px;
}

.update {
    background: #191e3d;
    border-color: #191e3d;
    color: white;
}

.msg {
    border: 2px solid #084298;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.modal-content {
    background-color: #0d0f1f;
}

.north {
    color:#8563f8;
}

.form-control {
    background: #151724;
    color: white;
    text-align: center;
    border-color: #151724;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control:focus {
    color: #212529;
    background-color: #151724;
    border-color: #151724;
    color: white;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-select {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    background: #151724;
    color: white;
    border-color: #151724;
}

.index .card {
    border-radius: 30px;
    padding:2rem 1rem;
}

span {
    color: rgb(86 114 255);;
    font-weight: bold;
}

.info .card {
    height: 15rem;
    width: 70%;
}

.info .card-body {
    text-align: center;
}

.info span {
    font-size: 40px;
}

.info h2 {
    font-size: 17px;
}
/* progressbar */


